[submodule "deps/ls-hpack"]
	path = deps/ls-hpack
	url = https://github.com/Asmod4n/ls-hpack
	branch = fix-undefined-behaviour
[submodule "deps/miniz"]
	path = deps/miniz
	url = https://github.com/richgel999/miniz
